 html{
    overflow-y: hidden;
    overflow-x: hidden;
}
body{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
 
}

main {
    display: grid;
    grid-template-columns: 25% 75%;
    background-color: white;
    width: 65%;
    border-radius: 32px;
    outline: 3px solid purple;
    height: 90vh;
    min-height: 400px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
 
}

.contatos{
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    border-top-left-radius: 32px;
    border-bottom-left-radius: 32px;

}

.contatos:first-child{
    border-top-left-radius: 32px;
}
.conversa{
    display: grid;
    grid-template-columns: 25% 75%;
    width: 100%;
    height: auto;
    margin: none;
    place-items: center;
    padding: 4%;
    background-color: white;
    cursor: pointer;
    transition: border 600ms ease-in,
                background-color 300ms ease-in-out;
}

.conversaAtivo{
    display: grid;
    grid-template-columns: 25% 75%;
    width: 100%;
    height: auto;
    margin: none;
    padding: 4%;
    cursor: pointer;
    background-color: lightgray;
    border-top: 1px solid purple;
    border-bottom: 1px solid purple
}
.conversa:hover {
    background-color: whitesmoke;
    outline: 0.5px solid lightgray;
}

.divImg{
    display: grid;    
    padding: 2%;
}

.conversaImg {
    width: 80%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;

}

.ultimaMsg{
    display: grid;
    place-items: start;
    width: 100%;
    height: 100%;
    gap: 3%;
    display: grid;
    grid-template-rows: 50% 50%;
}
.ultimaMsg h1,h2 {
    margin: 0;
    padding: 0;
}
.ultimaMsg h1 {
    margin-top: auto;
    font-size: 130%;
}
.ultimaMsg h2 {
    font-size: 80%;
    margin-top: 5%;
    margin-left: 8%;
    color: gray;
}
.contatos h3 {

    position: relative;
    text-align: center;
    margin-bottom:auto;
}
.chat{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 13% 77% 10%;
    border-left: 4px solid lightgray;
    border-top-right-radius: 32px;
}
.header{
    display: grid;
    border-top-right-radius: 32px;
    grid-template-columns: 15% 85%;
    height: 100%;
    width: 100%;
    background-color: purple;
    border-bottom-right-radius: 16px;
    
}
.standartH1 {
    text-align: center;
    color: white;
}
.header img {
    width: 75%;
    place-self: center;
    aspect-ratio: 1/1;
    border-radius: 50%;
    max-width: 100px;
}
.header h1{
    text-transform: capitalize;
    font-size: 150%;
    color: white;
    border-bottom: 2px solid lightgray;
    padding-left: 1.5%;
    
    
    
}
.mensagens {
    width: 100%;
    padding-top: 3%;
    display: flex;
    flex-flow: column nowrap;
    overflow-y: auto;
    gap: 10px;
}
.mensagens h1 {
    width: auto;
    max-width: 45%;
    margin-left: 3%;
    height: auto;
    background-color: lightgray;
    border-radius: 16px;
    padding: 1%;
    font-size: 150%;
    margin-top: 1%;
    
}

.mensagens h2 {
    width: auto;
    font-size: 150%;
    color: white;
    margin-top: 1%;
    border-radius: 16px;
    margin-left: auto;
    margin-right: 3%;
    height: auto;
    padding: 1%;
    max-width: 45%;
    background-color: rgb(168, 60, 168);
}
.chat div:has(span){
    background: purple;
	background: -webkit-linear-gradient(to right, rgb(197, 26, 197), purple);
	background: linear-gradient(to right, purple, rgb(184, 33, 184));
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
    
}
.standart {
    background: purple;
	background: -webkit-linear-gradient(to right, rgb(197, 26, 197), purple);
	background: linear-gradient(to right, purple, rgb(184, 33, 184));
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
    display: grid;
    place-items: center;
    text-align: center; 
    
}
.chat div:has(span):first-child {
    border-top-right-radius: 32px;
}
.chat div:has(span):last-child {
    border-bottom-right-radius: 32px;
}
.MensagemH1 {

    color: black;
    margin-bottom: 2%;
}
.standart img {
    width: 60%;
    height: 80%;
    min-height: 100%;

    
}
.inputMsg {
    width: 100%;
    display: grid;
    border-bottom-right-radius: 32px;
    transform: translateX(-4px);
    grid-template-columns: 90% 10%;
    place-items: center;
    background-color: lightgray;
}
.inputMsg input {
    border-radius: 24px;
    width: 90%;
    padding: 1%;
    height: 30%;
    font-size: 130%;
    outline: none;
    transition: background-color 300ms ease-in-out,
                border 1000ms ease-in-out

}
.inputMsg input:hover{
    background-color: whitesmoke;
}
.inputMsg input:focus{

    outline: 2px solid purple;

}

    .inputMsg form div {
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
    }
    .inputMsg i {
        font-size: 30px;
        margin-left: -50%;

        transition: box-shadow 500ms ease-in-out;
        cursor: pointer;
    }
    .inputMsg i:hover{
        text-shadow: rgba(255, 0, 212, 0.25) 0px 54px 55px, rgba(255, 0, 212, 0.12) 0px -12px 30px,
        rgba(255, 0, 212, 0.12) 0px 4px 6px, rgba(255, 0, 212, 0.17) 0px 12px 13px, rgba(255, 0, 212, 0.09) 0px -3px 5px;
    }
    .inputMsg a {
        margin-top: 5%;
        cursor: pointer;
        display: grid;
        justify-content: center;
    }
.Sconversa{
    margin-top: 100%;
}

@media (orientation: portrait){
    main {
        width: 85vw;
        height: 100vh;
        margin-left: 15vw;
        border-radius: 0px;
    }
    .chat {
        border-radius: 0px;
    }
    .contatos {
        border-radius: 0px;
    }
    .conversa {
        border-radius: 0px;
    }
    .conversaAtivo {
        border-radius: 0px;
    }
    .header {
        border-radius: 0px;
    }
    .inputMsg {
        border-radius: 0px;

    }
    .chat div:has(span):first-child {
        border-radius: 0px;
    }
    .chat div:has(span):last-child {
        border-radius: 0px;
    }
}